.poster {
  margin-top: 1px;
  height: 850px;
  background-image: url(/src/Components/Assets/frontpage\ bg.png);
  display: flex;
}
.poster-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 0px;
  line-height: 1.1;
}

.poster-left p {
  display: flex;
  color: #d4931a;
  margin-left: 200px;
  font-size: 60px;
  font-weight: 900;
}

.poster-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 1px;
  margin-left: 200px;
  background: #d4931a;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.astonishing {
  height: auto;
  margin-left: 100px;
  width: 700px;
}
.poster-right img {
  margin-top: 120px;
  margin-right: 250px;
  height: auto;
  width: 550px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1700px) {
  .poster {
    height: auto;
    width: 1700px;
  }
  .poster p {
    font-size: 50px;
    font-weight: 900;
  }
  .poster-right img {
    height: auto;
    width: 500px;
  }
}
@media (max-width: 1628px) {
  .poster {
    height: auto;
    width: 1628px;
  }
  .poster p {
    font-size: 50px;
    font-weight: 900;
  }
  .poster-right img {
    height: auto;
    width: 500px;
  }
}
@media (max-width: 1500px) {
  .poster {
    height: auto;
    width: 1500px;
  }
  .poster-right img {
    height: auto;
    width: 390px;
    margin-right: 60px;
  }
}
@media (max-width: 1400px) {
  .poster {
    height: auto;
    width: 1400px;
  }
  .poster-right img {
    height: auto;
    width: 350px;
    margin-right: 60px;
  }
}
@media (max-width: 1350px) {
  .poster {
    height: auto;
    width: 1350px;
  }
  .poster-right img {
    height: auto;
    width: 300px;
    margin-right: 60px;
  }
}
@media (max-width: 1280px) {
  .poster {
    height: auto;
    width: 1280px;
  }
  .poster-left {
    padding-left: 0px;
  }
  .poster-left p {
    font-size: 40px;
    margin-left: 100px;
  }
  .astonishing img {
    width: 500px;
    margin-left: 0px;
  }
  .poster-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .poster-right img {
    width: 250px;
    margin-right: 250px;
  }
}
@media (max-width: 1108px) {
  .poster {
    height: auto;
    width: 1108px;
  }
  .poster-left {
    padding-left: 0px;
  }
  .poster-left p {
    font-size: 40px;
    margin-left: 100px;
  }
  .astonishing img {
    width: 500px;
    margin-left: 0px;
  }
  .poster-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .poster-right img {
    width: 250px;
    margin-right: 550px;
  }
}
@media (max-width: 1024px) {
  .poster {
    height: auto;
    width: 1024px;
  }
  .poster-left {
    padding-left: 0px;
  }
  .poster-left p {
    font-size: 40px;
    margin-left: 100px;
  }
  .astonishing img {
    width: 500px;
    margin-left: 0px;
  }
  .poster-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .poster-right img {
    width: 250px;
    margin-right: 650px;
  }
}
@media (max-width: 800px) {
  .poster {
    height: auto;
    width: 800px;
  }
  .poster-left {
    padding-left: 0px;
  }
  .poster-left p {
    font-size: 30px;
  }
  .astonishing img {
    width: 400px;
    margin-left: 0px;
  }
  .poster-hand-icon img {
    width: 50px;
  }
  .poster-latest-btn {
    width: 175px;
    height: 40px;
    font-size: 12px;
    margin-left: 100px;
  }
  .poster-right img {
    display: none;
    width: 300px;
    margin-right: 10000px;
  }
}
@media (max-width: 500px) {
  .poster {
    flex-direction: column;
  }
  .poster-left h2 {
    font-size: 18px;
  }
  .poster-left p {
    font-size: 50px;
  }
  .poster-hand-icon img {
    width: 55px;
  }
  .poster-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .poster-right {
    display: none;
  }
}
