.poster {
  margin-top: 1px;
  background-image: url(/src/Components/Assets/frontpage\ bg.png);
  height: 600px;
  display: flex;
}
.poster-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 0px;
  line-height: 1.1;
}

.poster-left p {
  display: flex;
  color: black;
  margin-left: 200px;
  font-size: 50px;
  font-weight: 700;
}
.poster-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 1px;
  margin-left: 200px;
  background: #d4931a;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.poster-right img {
  margin-top: 60px;
  margin-right: 200px;
  height: auto;
  width: 400px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .poster-left h2 {
    font-size: 22px;
  }
  .poster-left p {
    font-size: 50px;
    margin-left: 50px;
  }
  .poster-hand-icon img {
    width: 80px;
  }
  .poster-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 50px;
  }
  .poster-right img {
    width: 350px;
  }
}
@media (max-width: 1024px) {
  .poster-left {
    padding-left: 0px;
  }
  .poster-left p {
    font-size: 50px;
    margin-left: 30px;
  }
  .poster-latest-btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 100px;
  }
  .poster-right img {
    width: 250px;
    margin-right: 100px;
  }
}
@media (max-width: 800px) {
  .poster-left {
    padding-left: 30px;
  }
  .poster-left p {
    font-size: 30px;
  }
  .poster-hand-icon img {
    width: 50px;
  }
  .poster-latest-btn {
    width: 175px;
    height: 40px;
    font-size: 12px;
  }
  .poster-right img {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .poster {
    flex-direction: column;
  }
  .poster-left p {
    margin-left: 0px;
  }
  .poster-left p {
    font-size: 30px;
  }
  .poster-hand-icon img {
    width: 55px;
  }
  .poster-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .poster-right {
    display: none;
  }
  .poster-latest-btn {
    width: 175px;
    height: 40px;
    font-size: 12px;
    margin-left: 0px;
  }
}
