.email {
  width: 85%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  background: linear-gradient(180deg, #f6d9ce 0%, #e99c80 100%);
  gap: 30px;
}

.email h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}
.email p {
  color: #454545;
  font-size: 30px;
}
.email div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}
.email input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
}
.email div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: #588a87;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 1628px) {
  .email {
    padding: 0px 121px;
    margin-bottom: 0px;
  }
}
@media (max-width: 1500px) {
  .email {
    padding: 0px 112px;
    margin-bottom: 0px;
  }
}
@media (max-width: 1400px) {
  .email {
    padding: 0px 104px;
    margin-bottom: 0px;
  }
}
@media (max-width: 1280px) {
  .email {
    padding: 0px 95px;
    margin-bottom: 0px;
    gap: 20px;
  }
  .email h1 {
    font-size: 36px;
  }
  .email p {
    font-size: 16px;
  }
  .email div {
    width: 600px;
    height: 60px;
  }
  .email input {
    width: 400px;
  }
  .email div button {
    width: 160px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  .email {
    margin-bottom: 0px;
  }
  .email h1 {
    font-size: 30px;
  }
  .email p {
    font-size: 14px;
  }
  .email div {
    width: 500px;
    height: 50px;
  }
  .email input {
    width: 300px;
    font-size: 14px;
  }
  .email div button {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .email {
    margin-bottom: 0px;
    height: 35vh;
  }
  .email h1 {
    font-size: 18px;
  }
  .email p {
    font-size: 12px;
  }
  .email div {
    width: 400px;
    height: 40px;
  }
  .email input {
    width: 200px;
    font-size: 13px;
  }
  .email div button {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .email {
    height: 25vh;
    width: 100%;
    padding: 0;
    gap: 15px;
  }
  .email h1 {
    font-size: 16px;
  }
  .email p {
    font-size: 13px;
    max-width: 200px;
    text-align: center;
  }
  .email div {
    width: 290px;
  }
  .email div input {
    width: 130px;
  }
}
